projects/custom_llama
projects/ModelAlign/wandb
projects/state-space-model/runs
projects/state-space-model/analysis/figures
projects/state-space-model/analysis/inner_state
projects/state-space-model/analysis/inner_state2
projects/state-space-model/analysis/transformers_inner_state
